:host {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.313rem;

    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;

    cursor: pointer;

    &:active {
        opacity: 0.95;
    }
}
