<div class="header">
    <div class="knowledge-base">
        <img src="images/knowledge.svg">
        <span>{{ 'clients.knowledge_base' | translate }}</span>
    </div>
    <div class="account">
        <img class="avatar" src="images/avatar.svg">
        <div class="info">
            <div class="name">
                <span>{{ 'clients.account.name' | translate }}</span>
            </div>
            <div class="position">
                <span>{{ 'clients.account.position' | translate }}</span>
            </div>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="nav-bar__button disabled-button">
        {{ 'clients.nav_bar.settings' | translate }}
    </div>
    <div class="nav-bar__button table-button">
        {{ 'clients.nav_bar.clients' | translate }}
    </div>
</div>
<!-- TODO: По-хорошему было бы вынести nav-bar в shared. К тому же header и nav-bar можно было бы вынести в отдельный компонент, внутри которого можно было бы перемещаться по роутам, но в масштабах тестового задания я посчитал это избыточным. -->
<div class="table-container">
    <div class="table-info">
        <div class="title">
            <span>{{ 'clients.table.title' | translate }}</span>
        </div>
        <div class="description">
            <span>{{ 'clients.table.description' | translate }}</span>
        </div>
    </div>
    <div class="search-container">
        <teyca-input type="text" [placeholder]="'clients.search' | translate" [(value)]="searchQuery"></teyca-input>
        @if (showNoSelectedIdsError()) {
        <teyca-error [text]="'ui.error.user_id_null' | translate"></teyca-error>
        }
        <button teyca-button class="push-button" [text]="'clients.push_button' | translate" [icon]="'images/push.svg'"
            (click)="openPushDialog()"></button>
    </div>
    <table tuiTable>
        <thead>
            <tr class="columns">
                <th tuiTh class="top-left">
                    <teyca-checkbox class="header-checkbox"
                        [checked]="selectedIds().length === clients().length && clients().length > 0"
                        (change)="toggleAll($event)"></teyca-checkbox>
                </th>
                <th tuiTh>{{ 'clients.table.column.user_id' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.device' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.template' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.barcode' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.first_name' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.last_name' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.phone' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.discount' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.bonus' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.average_bill' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.summ_all' | translate }}</th>
                <th tuiTh>{{ 'clients.table.column.link' | translate }}</th>
                <th tuiTh class="top-right">{{ 'clients.table.column.created_at' | translate }}</th>
            </tr>
        </thead>
        <tbody tuiTbody>
            @for (client of clients(); track client.user_id) {
            <tr>
                <td tuiTd>
                    <teyca-checkbox [checked]="selectedIds().includes(client.user_id)"
                        (change)="toggleSelection(client.user_id, $event)" />
                </td>
                <td tuiTd>
                    {{ client.user_id }}
                </td>
                <td tuiTd>
                    <img src="images/telegram.svg">
                    <img src="images/apple.svg">
                </td>
                <td tuiTd>
                    {{ client.template }}
                </td>
                <td tuiTd>
                    {{ client.barcode }}
                </td>
                <td tuiTd>
                    {{ client.first_name | dash }}
                </td>
                <td tuiTd>
                    {{ client.last_name }}
                </td>
                <td tuiTd>
                    {{ client.phone }}
                </td>
                <td tuiTd>
                    @if (client.discount) {
                        {{ client.discount }}%
                    } @else {
                        {{ client.discount | dash }}
                    }
                </td>
                <td tuiTd>
                    {{ client.bonus | dash }}
                </td>
                <td tuiTd>
                    {{ getAverageBill(client) | dash }}
                </td>
                <td tuiTd>
                    {{ client.summ_all | dash }}
                </td>
                <td tuiTd>
                    <a [href]="getLink(client)">
                        <img class="export-icon" src="images/export.svg" />
                    </a>
                </td>
                <td tuiTd>
                    {{ client.created_at | date:'H:mm dd.MM.yyyy' }}
                </td>
            </tr>
            }
            <tr>
                <td [colSpan]="14">
                    <div class="pagination-container">
                        <div class="count">
                            <span class="elements-text">
                                {{ 'clients.table.pagination.elements_text' | translate }}
                            </span>
                            <teyca-select [value]="pageSize().toString()" [options]="pageSizeOptions"
                                (valueChange)="changePageSize($event)"></teyca-select>
                            <span class="elements-count">
                                {{ startItem() }} - {{ endItem() }} {{ 'clients.table.pagination.out_of' | translate }}
                                {{
                                total() }}
                            </span>
                        </div>
                        <div class="buttons">
                            <img src="images/first_page_button.svg" (click)="goToFirstPage()"
                                [class.disabled]="currentPage() === 1">
                            <img src="images/previous_page_button.svg" (click)="goToPrevPage()"
                                [class.disabled]="currentPage() === 1">
                            <img src="images/next_page_button.svg" (click)="goToNextPage()"
                                [class.disabled]="currentPage() === totalPages()">
                            <img src="images/last_page_button.svg" (click)="goToLastPage()"
                                [class.disabled]="currentPage() === totalPages()">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
