:host {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 3.75rem;
        padding: 0 1.25rem;
        border-bottom: 0.063rem solid var(--clients-header-border-color);

        .knowledge-base {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8.563rem;
            height: 2.375rem;
            gap: 0.313rem;
            margin-right: 0.625rem;

            font-size: 14px;
            font-weight: 600;
            line-height: 150%;
            color: var(--clients-text-color);
        }

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9.25rem;
            height: 2.375rem;
            gap: 0.5rem;

            .avatar {
                width: 1.875rem;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 150%;
                    color: var(--clients-text-color);
                    margin-bottom: -0.188rem;
                }

                .position {
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 150%;
                    color: var(--clients-description-color);
                }
            }
        }
    }

    .nav-bar {
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
        height: 3.813rem;
        gap: 1.25rem;
        border-bottom: 0.063rem solid var(--clients-header-border-color);

        font-size: 14px;
        font-weight: 700;

        &__button {
            display: flex;
            align-items: center;
            max-height: 1.875rem;
            padding: 0.625rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        .disabled-button {
            color: var(--gray-60);
        }

        .table-button {
            color: var(--clients-text-color);
            background-color: var(--white-95);
        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        padding: 2.188rem 2.5rem 2.5rem 2.5rem;

        .table-info {
            display: flex;
            flex-direction: column;
            gap: 0.313rem;
            padding-bottom: 1.25rem;

            .title {
                font-size: 26px;
                font-weight: 700;
                line-height: 125%;
                color: var(--clients-text-color);
            }

            .description {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
                max-width: 31.25rem;
                color: var(--clients-description-color);
            }
        }

        .search-container {
            display: flex;
            gap: 1.25rem;
            position: relative;

            teyca-input {
                padding-bottom: 20px;
                max-width: 103rem;
            }

            .push-button {
                max-width: 10.75rem;
                height: 2.875rem;
            }

            teyca-error {
                position: absolute;
                top: -1rem;
                right: 1rem;
            }
        }

        table {
            border-radius: 0.313rem;
            box-shadow: 0px 0px 20px 0px #00000014;

            font-size: 14px;
            font-weight: 400;
            color: var(--clients-text-color);

            thead tr th {
                font-size: 12px;
                font-weight: 400;
                color: var(--table-head-text-color);
                border: none;
                border-top: 1px solid var(--table-border-color);
                padding: 0;
            }

            ::ng-deep {
                tr {
                    height: 3.25rem;

                    td {
                        padding: 0;
                        border: none;
                        border-top: 1px solid var(--table-border-color);
                    }
                }

                .header-checkbox input {
                    border: 0.063rem solid var(--table-border-checkbox-header-color) !important;
                }

                .columns {
                    .top-left {
                        border-radius: 0.313rem 0 0 0;
                    }

                    .top-right {
                        border-radius: 0 0.313rem 0 0;
                    }
                }

                .pagination-container {
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    padding-right: 0.688rem;

                    color: var(--table-pagination-text-color);

                    .count {
                        display: flex;
                        align-items: center;
                        gap: 0.625rem;

                        .elements-text {
                            font-size: 10px;
                            font-weight: 700;
                        }

                        .elements-count {
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    .buttons {
                        display: flex;
                        gap: 0.688rem;

                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
