:host {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 3.75rem;
        padding: 0 1.25rem;
        border-bottom: 0.063rem solid var(--clients-header-border-color);

        .knowledge-base {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8.563rem;
            height: 2.375rem;
            gap: 0.313rem;
            margin-right: 0.625rem;

            font-size: 14px;
            font-weight: 600;
            line-height: 150%;
            color: var(--clients-text-color);
        }

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9.25rem;
            height: 2.375rem;
            gap: 0.5rem;

            .avatar {
                width: 1.875rem;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 150%;
                    color: var(--clients-text-color);
                    margin-bottom: -0.188rem;
                }

                .position {
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 150%;
                    color: var(--clients-description-color);
                }
            }
        }
    }

    .nav-bar {
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
        height: 3.813rem;
        gap: 1.25rem;
        border-bottom: 0.063rem solid var(--clients-header-border-color);

        font-size: 14px;
        font-weight: 700;

        &__button {
            display: flex;
            align-items: center;
            max-height: 1.875rem;
            padding: 0.625rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        .disabled-button {
            color: var(--gray-60);
        }

        .table-button {
            color: var(--clients-text-color);
            background-color: var(--white-95);
        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        padding: 2.188rem 2.5rem 2.5rem 2.5rem;

        .table-info {
            display: flex;
            flex-direction: column;
            gap: 0.313rem;

            .title {
                font-size: 26px;
                font-weight: 700;
                line-height: 125%;
                color: var(--clients-text-color);
            }

            .description {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
                max-width: 31.25rem;
                color: var(--clients-description-color);
            }
        }
    }
}
