:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.938rem;

    color: var(--push-dialog-text-color);

    .label {
        display: flex;
        justify-content: center;
        padding-bottom: 0.375rem;

        font-size: 18px;
        font-weight: 700;
        line-height: 125%;
    }

    .message {
        position: relative;

        textarea {
            padding: 0.875rem;
            width: 100%;
            height: 5rem;
            border-radius: 0.313rem;
            border: 0.063rem solid var(--push-dialog-border-color);

            font-family: 'Manrope', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: var(--push-dialog-text-color);

            resize: none;
            outline: none;
        }

        teyca-error {
            position: absolute;
            bottom: -0.7rem;
            left: 0;
        }
    }

    .preview {
        padding-bottom: 0.313rem;
        &__container {
            display: flex;
            min-height: 6.25rem;
            gap: 0.75rem;
            border-radius: 0.625rem;
            border: 0.063rem solid var(--push-dialog-border-color);
            padding: 1rem;

            .notification-info {
                &__title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 150%;
                }

                &__text {
                    max-height: 20rem;
                    overflow: hidden;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                }
            }
        }
    }

    .date {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    ::ng-deep .title {
        padding-bottom: 0.5rem;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
    }

    .buttons {
        display: flex;
        justify-content: end;
        align-items: end;
        height: 100%;
        gap: 0.625rem;

        font-size: 14px;
        line-height: 150%;

        .cancel-button {
            font-weight: 400;
            color: var(--black-12);
            background: var(--white-95);
            max-width: 5.25rem;
            height: 2.688rem;
        }

        .send-button {
            font-weight: 600;
            color: var(--white);
            background: var(--black-12);
            max-width: 6.625rem;
            height: 2.875rem;
        }
    }

    .close-button {
        position: absolute;
        top: 1.25rem;
        right: -2.188rem;
        cursor: pointer;
    }
}
