:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 24.5rem;
        width: 100%;

        .logo {
            width: 4rem;
            padding-bottom: 2.25rem;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.875rem;

        color: var(--login-text-color);
        font-size: 30px;
        font-weight: 800;
        line-height: 135%;
        letter-spacing: -0.9px;

        .subtitle {
            opacity: 30%;
        }
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.313rem;
        padding-bottom: 1.25rem;
    }

    .login-button {
        color: var(--login-button-text-color);
        background-color: var(--login-button-background-color);
        height: 2.875rem;
    }

    .or-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 2.875rem;
        gap: 1.25rem;
        margin: 1.25rem 0 0.688rem 0;

        font-size: 14px;
        font-weight: 700;
        color: var(--login-divider-color);
        text-transform: uppercase;

        .divider {
            width: 100%;
            height: 0.063rem;
            background-color: var(--login-divider-color);
        }
    }

    .register-container {
        display: flex;
        gap: 0.188rem;

        font-size: 14px;
        font-weight: 500;
        line-height: 135%;
        color: var(--login-text-color);

        .register {
            color: var(--login-text-url-color);
            cursor: pointer;
        }
    }

    .loyalty-container {}
}
