@use './app/shared/styles/variables.scss';
@use './app/shared/styles/taiga.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Manrope", sans-serif;
    height: 100%;
}

app-root {
    display: flex;
    height: 100%;
}
