:host {
    display: flex;
    width: 100%;
    position: relative;

    input {
        height: 3rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--input-border-color);

        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;

        &:focus {
            outline: none;
        }
    }

    .required-error {
        position: absolute;
        top: 3rem;
        font-size: 11px;
        color: var(--input-required-error-color);
    }
}
