:host {
    display: flex;
    width: 100%;

    input {
        height: 3rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--input-border-color);

        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;

        &:focus {
            outline: none;
        }
    }
}
